.home-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .home-page {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: none;
    object-fit: cover;
    z-index: -1;
  }
  
  .left {
    left: 20px;
  }
  
  .right {
    right: 20px;
  }
  